@import "tailwindcss";

@theme static {
    --color-*: initial;

    --color-background: oklch(0.9672 0 0);
    --color-foreground: oklch(0.18 0.02 255);

    --color-surface: oklch(1 0 0);
    --color-surface-alt: oklch(0.9448 0 0);

    --color-border: oklch(0.8696 0 0);
    --color-muted: oklch(0.5103 0 0);

    --color-primary: oklch(0.5482 0.2114 28.99);
    --color-primary-foreground: oklch(1 0 0);
    --color-primary-hover: oklch(0.5482 0.2114 28.99 / 0.8);

    --color-secondary: oklch(0.1822 0 0);
    --color-secondary-foreground: oklch(1 0 0);
    --color-secondary-hover: oklch(0.1822 0 0 / 0.8);
}

:root[data-theme="dark"] {
    --color-background: oklch(0.1822 0 0);
    --color-foreground: oklch(0.96 0.01 255);

    --color-surface: oklch(0.2264 0 0);
    --color-surface-alt: oklch(0.2646 0 0);

    --color-border: oklch(0.3368 0 0);
    --color-muted: oklch(0.683 0 0);

    --color-primary: oklch(0.5482 0.2114 28.99);
    --color-primary-foreground: oklch(1 0 0);
    --color-primary-hover: oklch(0.5482 0.2114 28.99 / 0.8);

    --color-secondary: oklch(0.1822 0 0);
    --color-secondary-foreground: oklch(1 0 0);
    --color-secondary-hover: oklch(0.1822 0 0 / 0.8);
}

html,
body {
    @apply bg-background text-foreground;
}

.btn {
    &.btn-large {
        &.aspect-square {
            @apply size-10 rounded-md;
        }
        &:not(.aspect-square) {
            @apply px-6 py-3 rounded-md;
        }
    }
    &:not(.btn-large):not(.btn-small) {
        &.aspect-square {
            @apply size-8 rounded-md;
        }
        &:not(.aspect-square) {
            @apply px-4 py-1 rounded-md;
        }
    }
    &.btn-small {
        &.aspect-square {
            @apply size-6 rounded-md;
        }
        &:not(.aspect-square) {
            @apply px-2 py-0.5 rounded-md;
        }
    }
    &.btn-primary {
        @apply bg-primary hover:bg-primary-hover text-primary-foreground;
        &:disabled {
            @apply bg-primary/50 text-primary-foreground/50;
        }
    }
    &.btn-secondary {
        @apply bg-secondary hover:bg-secondary-hover text-secondary-foreground;
    }
    &.btn-tertiary {
        @apply bg-transparent hover:bg-surface-alt text-foreground;
    }
    &.btn-danger {
        @apply bg-secondary hover:bg-secondary-hover text-secondary-foreground border border-primary;
    }
    &.btn-ghost {
        @apply bg-transparent hover:bg-surface-alt text-foreground;
    }
    &:not(:disabled) {
        @apply cursor-pointer;
    }
    &:disabled {
        @apply cursor-not-allowed;
    }
}

.input {
    @apply bg-surface border border-border rounded-md px-2 py-1;
}

@keyframes skeleton-fade {
    0%,
    100% {
        opacity: 0.4;
    }
    50% {
        opacity: 1;
    }
}
.skeleton {
    position: relative;
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
}
.skeleton[data-animate="true"]::after {
    animation: skeleton-fade 1500ms linear infinite;
}
.skeleton[data-visible="true"] {
    overflow: hidden;
}
.skeleton[data-visible="true"]::before {
    position: absolute;
    content: "";
    inset: 0;
    z-index: 10;
    background-color: white;
}
.skeleton[data-visible="true"]::after {
    position: absolute;
    content: "";
    inset: 0;
    z-index: 11;
    background-color: gray;
}
