@import "tailwindcss";

@theme static {
    --color-*: initial;

    --color-background: oklch(0.9672 0 0);
    --color-foreground: oklch(0.18 0.02 255);

    --color-surface: oklch(1 0 0);
    --color-surface-alt: oklch(0.9448 0 0);

    --color-border: oklch(0.8696 0 0);
    --color-muted: oklch(0.5103 0 0);

    --color-primary: oklch(0.5482 0.2114 28.99);
    --color-primary-foreground: oklch(1 0 0);
    --color-primary-hover: oklch(0.5482 0.2114 28.99 / 0.8);

    --color-secondary: oklch(0.1822 0 0);
    --color-secondary-foreground: oklch(1 0 0);
    --color-secondary-hover: oklch(0.1822 0 0 / 0.8);
}

:root[data-theme="dark"] {
    --color-background: oklch(0.1822 0 0);
    --color-foreground: oklch(0.96 0.01 255);

    --color-surface: oklch(0.2264 0 0);
    --color-surface-alt: oklch(0.2646 0 0);

    --color-border: oklch(0.3368 0 0);
    --color-muted: oklch(0.683 0 0);

    --color-primary: oklch(0.5482 0.2114 28.99);
    --color-primary-foreground: oklch(1 0 0);
    --color-primary-hover: oklch(0.5482 0.2114 28.99 / 0.8);

    --color-secondary: oklch(0.1822 0 0);
    --color-secondary-foreground: oklch(1 0 0);
    --color-secondary-hover: oklch(0.1822 0 0 / 0.8);
}

html, body {
    @apply bg-background text-foreground;
}
